<a href="https://colab.research.google.com/github/Huzaifa-Alam/Python-Data_Analysis/blob/main/DA_SEC_1%2B2_SERIES%2Bexcel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
list=["fd","ds"]
pd.Series(list)

0    fd
1    ds
dtype: object

In [ ]:
# index does not count as a coloumn
# METHODS
import pandas as pd
values = pd.Series(data=[0.1,1,3.22222,32,None,2.2])
values.max()
values.min()
values.sum() #output38.4
values.mean() #output 9.6
values.idxmax() #to get the max value index #output3
values.idxmin() #to get the max value index #output1
values.isnull()#return a series that checks whether each vakue is null or not
values.round(2)# ROUND THE NUMBER IF WE SAY LIKE .round(4) return each in the series

0     0.10
1     1.00
2     3.22
3    32.00
4      NaN
5     2.20
dtype: float64

In [ ]:
import pandas as pd
billion = pd.read_csv("/addresses.csv")
billion
# only for one coloun
onecol = pd.read_csv("/addresses.csv",usecols=["John"])
onecol

FileNotFoundError: ignored

In [ ]:
# only for one coloun
onecol = pd.read_csv("/addresses.csv",usecols=["John"])
onecol
# type(onecol)

FileNotFoundError: ignored

In [ ]:
# .squeeze() trun datafame into series
series = pd.read_csv("/addresses.csv",usecols=["John"]).squeeze()
series
# type(series)

0                     Jack
1            John "Da Man"
2                  Stephen
3                      NaN
4    Joan "the bone", Anne
Name: John, dtype: object

In [ ]:
# create a CSV file(this is place in the current folder)
series.to_csv("/addresses.csv" , index= False)# set to false to avoid extra index

In [ ]:
pd.read_csv("/addresses.csv")

        Doe
0  McGinnis
1    Repici
2     Tyler
3  Blankman
4       Jet

In [ ]:
type(series)

pandas.core.series.Series

In [ ]:
series.head(2)#give first 2 rows

0    McGinnis
1      Repici
Name: Doe, dtype: object

In [ ]:
series.head(-2)# will return all the rows from the start (excluding last two)

0    McGinnis
1      Repici
2       Tyler
Name: Doe, dtype: object

In [ ]:
series.tail(3)# will return from last 3 rows

2       Tyler
3    Blankman
4         Jet
Name: Doe, dtype: object

In [ ]:
series.tail(-2)# will return all rows except 2 from the starting

2       Tyler
3    Blankman
4         Jet
Name: Doe, dtype: object

In [ ]:
series = pd.read_csv("/addresses.csv",usecols=["John"]).squeeze()
series # wanna sort values in series

0    McGinnis
1      Repici
2       Tyler
3    Blankman
4         Jet
Name: Doe, dtype: object

In [ ]:
#(axis=0 for index)# usually use with data frames like 3 dminsional arrays  ascending=false for descending order..
#kind ="quicksort" by default    na_position= "last" tells where NaN value will be
#inplace = True will change in original default value is False
inplace_copy = series.sort_values(axis=0 , ascending=True,  kind ="quicksort" ,ignore_index=True, inplace = False)
inplace_copy
#series.sort_values(axis=1) #(axis=1 for coloumn)# usually use with data frames like 3 dminsional arrays

0    Blankman
1         Jet
2    McGinnis
3      Repici
4       Tyler
Name: Doe, dtype: object

In [ ]:
from numpy.random import normal
# COUNTING VALUES in a series
#DEFAULT VALUES normalize: bool=False, sort: bool=True, ascending: bool=False, bins=None (ONLY WORK WITH NUMERICAL DATA) bins = 4,
#dropna: bool=True   ( ANY NONE VALUES )) -> Series
# normalize = True give give data in percentage
#sort: bool=True, By frequencyy SORT BY HIGHER FREQUNCY TO LOWER
Riverside = pd.read_csv("/addresses.csv",usecols=['Doe']).squeeze()
Riverside.value_counts(normalize  = False , sort= True)

McGinnis    1
Repici      1
Tyler       1
Blankman    1
Jet         1
Name: Doe, dtype: int64

In [ ]:
series[0]
series[[1,2,4]]#multiple index getting
series[0:4] #slice notation same as python slicing [:10] [-1]last item
# with series we hv to do like this
series[-1:]# to get the last element

IndexError: ignored

In [ ]:
import pandas as pd
billion = pd.read_csv("/content/TopRichestInWorld.csv" ,usecols=['Name']).squeeze()
billion

0                     Elon Musk
1                    Jeff Bezos
2      Bernard Arnault & family
3                    Bill Gates
4                Warren Buffett
                 ...
96             Vladimir Potanin
97         Harold Hamm & family
98                 Sun Piaoyang
99           Luo Liguo & family
100                   Peter Woo
Name: Name, Length: 101, dtype: object

In [ ]:
from tables import index
# ASSIGNMENT of series
import pandas as pd
billion = pd.read_csv("/content/TopRichestInWorld.csv" ,usecols=['Name',"Age"], index_col=["Name"]).squeeze()
billion

# billion.sort_values(index=True)

Name
Elon Musk                   50
Jeff Bezos                  58
Bernard Arnault & family    73
Bill Gates                  66
Warren Buffett              91
                            ..
Vladimir Potanin            61
Harold Hamm & family        76
Sun Piaoyang                63
Luo Liguo & family          66
Peter Woo                   75
Name: Age, Length: 101, dtype: int64

In [ ]:
# Which person is oldest
max_val = billion.idxmax()
max_val

'Lee Shau Kee'

In [ ]:
# how old he is
old = billion.max()
old
#another method
# billion["Lee Shau Kee"]

94

In [ ]:
# sort the values older to younger age \  vice versa ascendind = true (to get younger to older)
billion.sort_values(ascending=False)

Name
Lee Shau Kee               94
Li Ka-shing                93
Warren Buffett             91
Rupert Murdoch & family    91
Leonard Lauder             89
                           ..
Yang Huiyan & family       40
Guillaume Pousaz           40
Zhang Yiming               38
Mark Zuckerberg            37
Sam Bankman-Fried          30
Name: Age, Length: 101, dtype: int64

In [ ]:
# which person is the youngest
name = billion.idxmin()
name

'Sam Bankman-Fried'

In [ ]:
# How young is the youngest
print(f"The {name} is", billion.min() , "years old ! ")
#another method
billion[name]

30

In [ ]:
#average age of millionaries (round of 2 decimal places)
billion.mean().round(2)

67.12

In [ ]:
# To save csv file we use to_csv
billion.to_csv("sample.csv")

In [ ]:
pd.read_csv("sample.csv")

                         Name  Age
0                   Elon Musk   50
1                  Jeff Bezos   58
2    Bernard Arnault & family   73
3                  Bill Gates   66
4              Warren Buffett   91
..                        ...  ...
96           Vladimir Potanin   61
97       Harold Hamm & family   76
98               Sun Piaoyang   63
99         Luo Liguo & family   66
100                 Peter Woo   75

[101 rows x 2 columns]

In [ ]:
# If u r dealing with Excel files these libraries will help u (openpyxl)this is uesd for read and write N (xlrd)

import pandas as pd
excel = pd.read_excel("/content/NAME.xlsx")
excel

      NAME  AGE  GENDER
0  HUZAIFA    20   MALE
1    AHMED    24   MALE

In [ ]:
excel.head(1) #ALL syntax are same as csv files

      NAME  AGE  GENDER
0  HUZAIFA    20   MALE